<!-- This is the file for the friends overview. -->
{% extends "template.html" %}

{% block title %}
    Friends
{% endblock %}

{% block main %}
<div class="container">
    
    <div class="container-horizontal space-around"> 
        <h1 class="left-align big-font">Current Friends:</h1>
        <a class="btn-primary" href="/friends/search">Neue Freunde suchen</a>
    </div>
    {% for score, username in friends %}
    <div class="entry3" >
        <div class="align-content-left"><p>{{username}}</p></div>
        <p>Score: {{score}}</p>
        <div class="container-horiontal align-content-right">
            <form method="GET" action="/profile">
                <input type="hidden" name="username" value="{{username}}" >
                <button class="btn-text margin-lr" type="submit">View his profile</button>
            </form>
            <form method="GET" action="/friends/teamUp">
                <input type="hidden" name="username_friend" value="{{username}}" >
                <button type="submit" class="btn-text">View his tasks</button>
            </form>
        </div>
    </div>
    {% endfor %}


    {% if incoming_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Incoming Requests:</h1>
    </div>
    {% endif %}
    {% for name in incoming_requests %}
    <div class="entry2">
        <div class="align-content-left"><p>{{name}}</p></div>
        <div class="container-horizontal align-content-right">
            <form action="/friends/add/accept" method="POST">
                <input type="hidden" name="username" value="{{name}}" > 
                <button type="submit" class="btn-text margin-lr">Bestätigen</button>
            </form>
            <form action="/friends/add/decline" method="POST">
                <input type="hidden" name="username" value="{{name}}" > 
                <button type="submit" class="btn-text">Ablehnen</button>
            </form>
        </div>
    </div>
    {% endfor %}

    
    {% if pending_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Outgoing Requests:</h1>
    </div>
    {% endif %}
    {% for name in pending_requests %}
    <div class="entry2">
        <div class="align-content-left">   
            <p>{{name}}</p>
        </div>
    </div>

        
    {% endfor %}
</div>
{% endblock %}