<!-- This is the file for the friends overview. -->
{% extends "template.html" %}

{% block title %}
    Friends
{% endblock %}

{% block main %}
<div class="container">


<div class="btn-primary"><a href="/friends/search">Neue Freunde suchen</a></div>
    
    {% for score, username in friends %}
    <div class="entry" >
        <p>{{username}}</p>
        <p>{{score}}</p>
        <form method="GET" action="/profile">
            <input type="hidden" name="username" value="{{username}}" >
            <button class="btn-primary" type="submit">View his profile</button>
        </form>
        <form method="GET" action="/friends/teamUp">
            <input type="hidden" name="username_friend" value="{{username}}" >
            <button type="submit" class="btn-primary">View his tasks</button>
        </form>
    </div>
    {% endfor %}
    <h2>Incoming Requests</h2>
    {% for name in incoming_requests %}
    <br>
        <p>{{name}}</p>
        <form action="/friends/add/accept" method="POST">
            <input type="hidden" name="username" value="{{name}}" > 
            <button type="submit">Bestätigen</button>
        </form>
        <form action="/friends/add/decline" method="POST">
            <input type="hidden" name="username" value="{{name}}" > 
            <button type="submit">Ablehnen</button>
        </form>
    {% endfor %}
    <h2>Outgoing Requests</h2>
    {% for name in pending_requests %}
    <div class="entry">
        <p>{{name}}</p>
    </div>

        
    {% endfor %}
</div>
{% endblock %}