<!-- This is the file for the search friends results. -->
{% extends "template.html" %}

{% block title %}
    Search Friends Results
{% endblock %}

{% block main %}
    {% for user in users %}
    <div class="entry">
        <p>{{user.username}}</p>
    <form action="/friends/add" method="GET" >
        <input type="hidden" name="username" value="{{user.username}}" > 
        <button type="submit" class="btn-small" >Hinzufügen</button>
    </div>
    
    </form>

    {% endfor %}
{% endblock %}