<!-- This is the file for the search friends results. -->
{% extends "template.html" %}

{% block title %}
    Search Friends Results
{% endblock %}

{% block main %}
<div class="container" >
    {% for user in users %}
    <div class="entry2 entry">
        <div class="align-content-left">
            <p>{{user.username}}</p>
        </div>
        <div class="align-content-right">
            <form action="/friends/add" method="GET" >
                <input type="hidden" name="username" value="{{user.username}}" > 
                <button type="submit" class="btn-text" >Hinzufügen</button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>
    
{% endblock %}