<!-- This is the file for the search friends results. -->
{% extends "template.html" %}

{% block title %}
    Search Friends Results
{% endblock %}

{% block main %}
<div class="container" >
    {% for user in users %}
    <div class="entry2 entry" onClick="document.getElementById('friend_request{{user.username}}').submit();">
        <form method="GET" action="/profile" id="friend_request{{user.username}}" style="width: 100%;">
            <input type="hidden" name="username" value="{{user.username}}" > 
            <div class="align-content-left">
                <p class="underline">{{user.username}}</p>
            </div>
        </form>
        <div class="align-content-right">
            <form action="/friends/add" method="GET" >
                <input type="hidden" name="username" value="{{user.username}}" > 
                <button type="submit" class="btn-text underline" >Hinzufügen</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>
    
{% endblock %}