<!-- This is the file for the challenges overview. -->
{% extends "template.html" %}

{% block title %}
    Challenges
{% endblock %}

{% block main %}
<div class="container">
    <div class="container-horizontal space-around "> 
        <h1 class="left-align big-font">Challenge Overview:</h1>
        <a class="btn-primary" href="/challenges/search">New Challenge</a>
    </div>
    {%for id, first_score, second_score, first_user, second_user, date in challenges%}
    <div class="entry3 entry">
        <div class="container-horizontal container-horizontal-mobile mobile-center">
            <p>{{first_user}}</p>
            <p class="font-marker margin-lr"> vs. </p>
            <p>{{second_user}}</p>
        </div>
        <p>Score: {{first_score}} : {{second_score}}</p>
        <div class="container-horizontal align-content-right">
            <p class="margin-lr">Expires: {{date}}</p>
            <form action="/challenges/details" method="GET">
                <input type="hidden" name="challenge_id" value={{id}}>
                <button type="submit"  class="btn-text">Details</button>
            </form>
        </div>
    </div>
    {%endfor%}


    {% if incoming_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Incoming Requests:</h1>
    </div>
    {% endif %}
    {% for name in incoming_requests %}
    <div class="entry2 entry">
        <div class="align-content-left">
            <p>{{name}}</p>
        </div>
        <div class="container-horizontal align-content-right">
            <form action="/challenges/accept" method="POST">
                <input type="hidden" name="username" value="{{name}}" > 
                <button type="submit" class="btn-text margin-lr">Bestätigen</button>
            </form>
            <form action="/challenges/decline" method="POST">
                <input type="hidden" name="username" value="{{name}}" > 
                <button type="submit" class="btn-text">Ablehnen</button>
            </form>
        </div>
    </div>
    {% endfor %}


    {% if pending_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Incoming Requests:</h1>
    </div>
    {% endif %}
    {% for name in pending_requests %}
    <div class="entry2 entry">
        <div class="align-content-left">
            <p>{{name}}</p>
        </div>
    </div>
    {% endfor %}

    <a class="btn-primary margin half-size" href="/challenges/history">View Challenge History</a>
    <a class="btn-primary half-size" href="/challenges/new">Neue Challenge</a>
</div>
{% endblock %}