<!-- This is the file for the challenges overview. -->
{% extends "template.html" %}

{% block title %}
    Challenges
{% endblock %}

{% block main %}
<div class="container">
    <div class="container-horizontal space-around "> 
        <h1 class="left-align big-font">Challenge Overview:</h1>
        <a class="btn-primary" href="/challenges/search"><p class="underline" >New Challenge</p></a>
    </div>
    {%for id, first_score, second_score, first_user, second_user, date in challenges%}
    <div class="entry3 entry" onClick="document.getElementById('{{first_user}}{{second_user}}{{date}}{{id}}').submit();">
        <form action="/challenges/details" method="GET" id='{{first_user}}{{second_user}}{{date}}{{id}}'  style="width: 100%;">
            <div class="container-horizontal container-horizontal-mobile mobile-center" >
                <p class="underline">{{first_user}}</p>
                <p class="font-marker margin-lr"> vs. </p>
                <p class="underline">{{second_user}}</p>
                <input type="hidden" name="challenge_id" value={{id}}>
            </div>
        </form>
        <div>   
            <p class="underline">Score: {{first_score}} : {{second_score}}</p>
        </div>
        <div class="container-horizontal align-content-right">
            <p class="margin-lr">{{date}}</p>
                <input type="hidden" name="challenge_id" value={{id}}>
                <button type="submit"  class="btn-text underline">Details</button>
        </div>
    </div>
    {%endfor%}


    {% if incoming_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Incoming Requests:</h1>
    </div>
    {% endif %}
    {% for name in incoming_requests %}
        <div class="entry2 entry" onClick="document.getElementById('challenge_request{{name}}').submit();">
            <div >
                <form method="GET" action="/profile" id="challenge_request{{name}}" style="width: 100%;" class="align-content-left">
                    <p class="underline">{{name}}</p>
                    <input type="hidden" name="username" value="{{name}}" >
                </form>
            </div>
            <div class="container-horizontal align-content-right">
                <form action="/challenges/accept" method="POST">
                    <input type="hidden" name="username" value="{{name}}" > 
                    <button type="submit" class="btn-text margin-lr underline">Bestätigen</button>
                </form>
                <form action="/challenges/decline" method="POST">
                    <input type="hidden" name="username" value="{{name}}" > 
                    <button type="submit" class="btn-text underline">Ablehnen</button>
                </form>
            </div>
        </div>
    </form>
    {% endfor %}


    {% if pending_requests %}
    <div class="container-horizontal full-size"> 
        <h1 class="left-align big-font">Incoming Requests:</h1>
    </div>
    {% endif %}
    {% for name in pending_requests %}
    <div class="entry2 entry" onClick="document.getElementById('challenge_request{{name}}').submit();">
        <form method="GET" action="/profile" id="challenge_request{{name}}" style="width: 100%;"> 
            <div class="align-content-left">
                <input type="hidden" name="username" value="{{name}}"> 
                <p class="underline">{{name}}</p>
            </div>
        </form>
    </div>
    {% endfor %}

    <a class="btn-primary margin half-size" href="/challenges/history"><p class="underline">View Challenge History</p></a>
    <a class="btn-primary half-size" href="/challenges/new"><p class="underline">Neue Challenge</p></a>
</div>
{% endblock %}