<!-- This is the file for the search challenges results. -->
{% extends "template.html" %}

{% block title %}
    Search Results Challenges
{% endblock %}

{% block main %}
    Screen for Search Results Challenges
    {%for result in results %}
        <div>
            <h2>{{result.username}}</h2>
            <form action="/challenges/search/results" method="POST">
                <input type="hidden" name="username" value={{result.username}} >
                <button type="submit" >Send Request</button>
            </form>
        </div>
    {%endfor%}
{% endblock %}