@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-first: #000;
  --clr-second: #fff;
  --clr-third: rgb(206, 102, 102);
  --clr-fourth: rgb(53, 132, 197);

  --font: "Poppins";

  --font-h1: 300;
  --font-h2: 400;
  --font-p: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
}

@font-face {
  font-family: PermanentMarker;
  src: url(PermanentMarker-Regular.ttf);
}

body {
  text-align: center;
}

header {
  padding: 1rem 0 1rem;
  justify-content: center;
  align-items: center;
}

header h1 {
  width: 100%;
  font-weight: var(--font-h1);
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  justify-content: center;
}

header nav {
  text-align: center;
}

header nav ul li {
  display: inline-block;
  padding: 1rem 6rem;
  font-weight: var(--font-p);
}

header nav ul li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-first);
  text-transform: uppercase;
}

header nav ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--clr-first);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav ul li a:hover:after {
  width: 100%;
  left: 0;
}

.textfield {
  width: 50%;
  border-radius: 10px;
}

.padding {
  padding: 10px 5px 10px 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 10px 10px 10px 10px;
}

.btn-primary {
  max-width: 100%;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid grey;
  background-color: #dddddd;
  height: 100%;
}

.btn-text {
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.btn-primary:hover {
  background-color: white;
}

.btn-text:hover {
  text-decoration: none;
}

.entry3 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
  background-color: lightgrey;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid grey;
  width: 100%;
}

.entry2 {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
  background-color: lightgrey;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid grey;
  width: 100%;
}

.btn-small {
  border-radius: 10px;
  width: 150px;
  padding: 10px 5px 10px 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-align {
  align-self: flex-start;
}

.align-content-right {
  display: flex;
  justify-content: flex-end;
}

.align-content-left {
  display: flex;
  justify-content: flex-start;
}

.margin-lr {
  margin-right: 10px;
  margin-left: 10px;
}

.font-marker {
  font-family: PermanentMarker;
}

h1 {
  font-size: 130%;
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-font {
  font-size: 2em;
}

.extra-big-font {
  font-size: 5em;
}

.space-around {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.full-size {
  width: 100%;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
}

.textfield input {
  margin-bottom: 10px;
  font-size: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

#login-btn {
  font-size: 1.5em;
  width: 50%;
}
