@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-first: #fff;
  --clr-second: #fff;
  --clr-third: rgb(206, 102, 102);
  --clr-fourth: rgb(53, 132, 197);
  --clr-btn-primary-border: #b6174b;
  --clr-btn-primary: #b6174b;
  --clr-entry: #b6174b;
  --clr-entry-border: #b6174b;
  --clr-background: #00e0d1;
  --clr-footer: #b6174b;
  --clr-header-font: #b6174b;

  --font: "Poppins";

  --font-h1: 300;
  --font-h2: 400;
  --font-p: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font);
  font-size: 16px;
  color: var(--clr-first);
}

@font-face {
  font-family: PermanentMarker;
  src: url(PermanentMarker-Regular.ttf);
}

body {
  text-align: center;
  background-color: var(--clr-background);
}

header {
  padding: 1rem 0 1rem;
  justify-content: center;
  align-items: center;
}

header h1 {
  width: 100%;
  font-weight: var(--font-h1);
  font-size: 3rem;
  letter-spacing: 0.3rem;
  text-align: center;
  justify-content: center;
  color: var(--clr-header-font);
}

header nav {
  text-align: center;
}

header nav p.li {
  display: inline-block;
  padding: 1rem 6rem;
  font-weight: var(--font-p);
}

#container-header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

header nav p {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--clr-header-font);
  text-transform: uppercase;
}

header nav p:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: var(--clr-header-font);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav p:hover:after {
  width: 100%;
  left: 0;
}

.textfield {
  width: 50%;
  border-radius: 10px;
}

.padding {
  padding: 10px 5px 10px 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin {
  margin: 10px 10px 10px 10px;
}

.btn-primary {
  max-width: 100%;
  padding: 10px 5px 10px 5px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid var(--clr-btn-primary-border);
  background-color: var(--clr-btn-primary);
  color: white;
  height: 100%;
}

.btn-text {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: var(--clr-first);
}

a:visited {
  text-decoration: none;
  color: var(--clr-first);
}
a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.btn-primary:hover {
  transition: 300ms;
  background-color: white;
  color: #858585;
}

.btn-text:hover {
  text-decoration: none;
  /* color: rgb(29, 58, 153); */
}

.check {
  transform: scale(1.5);
}

.check:hover {
  animation: 200ms linear 0s 1 normal forwards running scale-check;
}

@keyframes scale-check {
  0% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(2.5);
  }
}

form .entry {
  margin: 20px 0px;
  cursor: pointer;
}

form .entry * {
  cursor: pointer;
}

.entry {
  position: relative;
  display: grid;
  background-color: var(--clr-entry);
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid var(--clr-entry-border);
  width: 100%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.entry button {
  text-decoration: none;
}

.entry:hover {
  animation-name: test;
  animation-duration: 50ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes test {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 5px;
    top: 5px;
    box-shadow: none;
  }
}

.entry3 {
  grid-template-rows: 100%;
  grid-template-columns: 33% 33% 33%;
}

.entry2 {
  grid-template-rows: 100%;
  grid-template-columns: 50% 50%;
}

.btn-small {
  border-radius: 10px;
  width: 150px;
  padding: 10px 5px 10px 5px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.container-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-align {
  align-self: flex-start;
}

.align-content-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.align-content-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.margin-lr {
  margin-right: 10px;
  margin-left: 10px;
}

.font-marker {
  font-family: PermanentMarker;
}

h1 {
  font-size: 130%;
  font-weight: 500;
  color: var(--clr-header-font);
}

main > div > .btn-text {
  color: var(--clr-header-font);
}

.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-font {
  font-size: 1.8em;
}

.extra-big-font {
  font-size: 5em;
  font-weight: 400;
}

.space-around {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.full-size {
  width: 100%;
}

.two-column-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 20px;
}

.textfield input {
  margin-bottom: 10px;
  font-size: 1.5em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  border-radius: 10px;
}

#login-btn {
  font-size: 1.5em;
  width: 50%;
}

.btn-font {
  padding: 1em;
  font-size: 1.5em;
}

.profile-pic {
  padding: 1em;
  height: 12em;
}

#q-graph {
  display: block;
  position: relative;
  width: 600px;
  height: 300px;
  margin: 1.1em 0 0;
  padding: 0;
  background: transparent;
  font-size: 11px;
}

#q-graph caption {
  caption-side: top;
  width: 600px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  top: -40px;
  position: relative;
  z-index: 10;
  font-weight: bold;
}

#q-graph tr,
#q-graph th,
#q-graph td {
  position: absolute;
  bottom: 0;
  width: 150px;
  z-index: 2;
  margin: 0;
  padding: 0;
  text-align: center;
}

#q-graph td {
  transition: all 0.3s ease;
}

#q-graph thead tr {
  left: 100%;
  top: 50%;
  bottom: auto;
  margin: -2.5em 0 0 5em;
}
#q-graph thead th {
  width: 7.5em;
  height: auto;
  padding: 0.5em 1em;
}
#q-graph thead th.sent {
  top: 0;
  left: 0;
  line-height: 2;
}
#q-graph thead th.paid {
  top: 2.75em;
  line-height: 2;
  left: 0;
}

#q-graph tbody tr {
  height: 296px;
  padding-top: 2px;
  border-right: 1px dotted #c4c4c4;
  color: #aaa;
}
#q-graph #q1 {
  left: 0em;
}
#q-graph #q2 {
  left: 150px;
}
#q-graph #q3 {
  left: 300px;
}
#q-graph #q4 {
  left: 450px;
  border-right: none;
}
#q-graph tbody th {
  bottom: -1.75em;
  vertical-align: top;
  font-weight: normal;
  color: rgb(78, 78, 78);
}
#q-graph .bar {
  width: 60px;
  border: 1px solid;
  border-bottom: none;
  color: rgb(255, 255, 255);
}
#q-graph .bar p {
  margin: 5px 0 0;
  padding: 0;
  opacity: 0.4;
  color: black;
}
#q-graph .sent {
  left: 13px;
  background-color: color-sent;
  border-color: transparent;
}
#q-graph .paid {
  left: 77px;
  background-color: color-paid;
  border-color: transparent;
}

#ticks {
  position: relative;
  top: -300px;
  left: 2px;
  width: 596px;
  height: 300px;
  z-index: 1;
  margin-bottom: -300px;
  font-size: 10px;
  font-family: "fira-sans-2", Verdana, sans-serif;
}

#ticks .tick {
  position: relative;
  border-bottom: 1px dotted #c4c4c4;
  width: 600px;
}

#ticks .tick p {
  position: absolute;
  left: -5em;
  top: -0.8em;
  margin: 0 0 0 0.5em;
}
View Compiled .half-size {
  width: 50%;
}

.grid3 {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.background {
  background-color: var(--clr-background);
  border-radius: 10px;
}
.line {
  background-color: var(--clr-header-font);
  height: 3px;
  width: 100%;
}

.bar {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

nav .icon {
  display: none;
  text-decoration: none;
}

header nav a.icon :after {
  display: none;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--clr-footer);
  padding-bottom: 200px;
}

@media (max-width: 1100px) {
  .topnav div a {
    display: none;
  }
  .topnav a.icon {
    display: inline;
    position: absolute;
    right: 10px;
    top: 30px;
  }
  #container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    margin-bottom: 10px;
  }
  nav h1 {
    width: 40%;
  }

  nav h1 {
    align-self: flex-end;
  }

  nav .responsive {
    position: relative;
  }
  nav .responsive h1 {
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media (max-width: 576px) {
  * {
    font-size: 16px;
  }

  .entry3 {
    grid-template-columns: 100%;
    grid-template-rows: 33% 33% 33%;
  }
  .entry2 {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }
  .align-content-left {
    justify-content: center;
  }
  .align-content-right {
    justify-content: center;
  }
  .big-font {
    font-size: 1.5em;
  }
  .container-horizontal {
    flex-direction: column;
  }
  .left-align {
    align-self: center;
  }
  .half-size {
    width: 80%;
  }
  .container-horizontal-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .mobile-center {
    justify-content: center;
  }
}
