{% extends "template.html" %}

{% block title %} Dashboard {% endblock %}

{% block main %}
    <h1>Tasks</h1>
    {% for task in tasks %}
    <div class="entry">{{task.name}}</div>
    {% endfor %}
    <h1>Incoming Friend Requests</h1>
    {% for name in incoming_friend_requests %}
    <div class="entry">
        <p>{{name}}</p>
        <form action="/friends/add/accept" method="POST">
            <input type="hidden" name="username" value={{name}} > 
            <button type="submit"  class="btn-primary">Bestätigen</button>
        </form>
        <form action="/friends/add/decline" method="POST">
            <input type="hidden" name="username" value={{name}} > 
            <button type="submit"  class="btn-primary">Ablehnen</button>
        </form>
    </div>
    {% endfor %}
    <h1>Incoming Challenge Requests</h1>
    {% for name in incoming_challenge_requests %}
    <div class="entry">
        <p>{{name}}</p>
        <form action="/challenges/accept" method="POST">
            <input type="hidden" name="username" value={{name}} > 
            <button type="submit" class="btn-primary">Bestätigen</button>
        </form>
        <form action="/challenges/decline" method="POST">
            <input type="hidden" name="username" value={{name}} > 
            <button type="submit" class="btn-primary">Ablehnen</button>
        </form>
    </div>
    {% endfor %}
    <h1>Friends</h1>
    {% for score, username in friends %}
    <div class="entry">
        <p>{{username}}</p>
        <p>{{score}}</p>
        <form method="GET" action="/profile">
            <input type="hidden" name="username" value={{username}} >
            <button type="submit"  class="btn-primary">View his profile</button>
        </form>
        <form method="GET" action="/friends/teamUp">
            <input type="hidden" name="username_friend" value={{username}} >
            <button type="submit"  class="btn-primary">View his tasks</button>
        </form>
    </div>
    {% endfor %}
    <h1>Challenges</h1>
    {%for id, first_score, second_score, first_user, second_user, date in challenges%}
    <div class="entry">
        <h3>{{first_user}} vs. {{second_user}}</h3>
        <h4>{{first_score}} - {{second_score}}</h4>
        <h5> {{date}}</h5>
        <form action="/challenges/details" method="GET">
            <input type="hidden" name="challenge_id" value={{id}}>
            <button type="submit"  class="btn-primary">Details</button>
        </form>
    </div>
{%endfor%}
{% endblock %}