<!-- This is the template for the login. Style can be changed. -->
{% extends "loginTemplate.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post" class="form">
        <div class="textfield">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" >
        </div>
        <div class="textfield">
            <input class="form-control" name="password" placeholder="Password" type="password" >
        </div>
        <button class="btn-primary" type="submit" id="login-btn"><p class="underline" id="login-p">Log In</p></button>
    </form>
    <a class="btn-text"  href="/register"><p class="underline primary-color" id="red">Registrieren</p></a>
{% endblock %}