<!-- This is the template for the register. Style can be changed. -->
{% extends "loginTemplate.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post" class="form">
        <div class="textfield">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="textfield">
            <input class="form-control" name="email" placeholder="E-Mail" type="text">
        </div>
        <div class="textfield">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="textfield">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button id="login-btn" class="btn btn-primary" type="submit">Register</button>
    </form>
    <a class="btn-text" id="red" href="/login">Login</a>
{% endblock %}