<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="../static/css/start.css">
        <link href="../static/growth.png" rel="icon">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <header class="header">
            <nav>
                <h1 class="title">EXAC</h1>
                <ul>
                    <li><a href="/">Dashboard</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                    <li><a href="/friends">Friends</a></li>
                    <li><a href="/challenges">Challenges</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/scoreboard/monthly">Scoreboard</a></li>
                </ul>
            </nav>
        </header>
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>