<!-- This is just a template. It can be canged and is not important for the login. -->

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/start.css"
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <h1>get Done</h1>
        <main class="container p-5">
            {% block main %}{% endblock %}
        </main>

    </body>

</html>