<!-- This is the file for editing the own profile. -->
{% extends "template.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
    <form method="POST" action="/profile/edit" class="form">
        <div class="textfield"><input type="email" placeholder="Neue E-Mail Adresse" name="email" /></div>
        <div class="textfield"><input type="password" placeholder="Neues Password" name="password" /></div>
        <div class="textfield"><input type="password" placeholder="Bestätige neues Password" name="confirm_password" /></div>
        <div class="textfield"><input type="password" placeholder="Aktuelles Password" name="current_password" /></div>
        <div class="textfield"><input type="username" placeholder="Neuer Username" name="username" /></div>
        <button class="btn-primary half-size btn-font" type="submit" ><p class="underline" >Submit</p></button>
    </form>
{% endblock %}