<!-- This is the file for seeing an profile (might be the own one but might be different as well). -->
{% extends "template.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    <p class="big-font">{{username}}</p>
    <p class="btn-font">Score: {{score}}</p>
    {%if own_profile%}
        <a class="btn-primary half-size" href="/profile/edit">Edit</a>
    {% endif %}

    {% if friend %}
    <form method="GET" action="/friends/teamUp" class="form">
        <input type="hidden" name="username_friend" value="{{username}}" >
        <button type="submit" class="btn-primary half-size">View his tasks</button>
    </form>

    <form method="POST" action="/friends/delete" class="form">
        <input type="hidden" name="username" value="{{username}}">
        <button type="submit" class="btn-text half-size">Delete friend</button>
    </form>
    {% endif %}

    {% if not friend and not own_profile %}
    <form action="/friends/add" method="GET" class="form">
        <input type="hidden" name="username" value="{{username}}" > 
        <button type="submit" class="btn-primary half-size" >Send friend requests</button>
    </form>
    {% endif %}
{% endblock %}