<!-- This is the file for seeing an profile (might be the own one but might be different as well). -->
{% extends "template.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
    Screen for Profile
    <h1>{{username}}</h1>
    <h2>{{score}}</h2>
    {%if own_profile%}
        <a href="/profile/edit">Edit</a>
    {% endif %}
    {% if friend %}
    <form method="POST" action="/friends/delete">
        <input type="hidden" name="username" value={{username}}>
        <button type="submit">Delete friend</button>
    </form>
    {% endif %}
    {% if not friend %}
    <form action="/friends/add" method="GET">
        <input type="hidden" name="username" value={{username}} > 
        <button type="submit" >Send friend requests</button>
    </form>
    {% endif %}
{% endblock %}