<!-- This is the file for editing a task. -->
{% extends "template.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form method="post" action="/tasks/edit" class="form">
        <div class="textfield">
            <input type="text" placeholder="Name" name="name" autofocus autocomplete="off" value="{{task.name}}">
        </div>
        <div class="textfield">
            <input type="date" name="due" placeholder="Fälligkeitsdatum" value="{{task.due}}">
        </div>
        <div class="textfield">
            <input type="hidden" name="id" value={{task.id}}>
        </div>
        <button class="btn-primary" id="login-btn" type="submit"><p class="underline" >Edit Task</p></button>
    </form>
{% endblock %}