<!-- This is the file for editing a task. -->
{% extends "template.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
    Screen for Edit Task
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form method="post" action="/tasks/edit">
        <input type="text" placeholder="Name" name="name" autofocus autocomplete="off" value={{task.description}}>
        <input type="date" name="due" placeholder="Fälligkeitsdatum" value={{task.due}}>
        <input type="hidden" name="id" value={{task.id}}>
        <button type="submit">Edit Task</button>
    </form>
{% endblock %}