<!-- This is the file for editing a task. -->
{% extends "template.html" %}

{% block title %}
    Edit Task
{% endblock %}

{% block main %}
    {% if message %}
        <p>{{message}}</p>
    {% endif %}
    <form method="post" action="/tasks/edit" class="form">
        <div class="textfield">
            <input type="text" placeholder="Name" name="name" autofocus autocomplete="off" value="{{task.name}}">
        </div>
        <div class="textfield">
            <input type="date" name="due" placeholder="Fälligkeitsdatum" value="{{task.due}}">
        </div>
        <div class="textfield">
            <input type="hidden" name="id" value={{task.id}}>
        </div>
        <div class="container-horizontal textfield" id="form-container-horizontal">
            <label for="categorie" >Categorie:</label>
            <select name="categorie" id="categorie" required>
                <option  value="work" >Work</option>
                <option value="daily" >Daily Stuff</option>
                <option value="health" >Health</option>
                <option value="education" >Education</option>
            </select> 
        </div>
        <div class="container-horizontal textfield" id="form-container-horizontal">
            <label for="categorie" >Priorität:</label>
            <select name="priority" id="priority" required>
                <option  value="1" >1</option>
                <option value="2" >2</option>
                <option value="3" >3</option>
                <option value="4" >4</option>
            </select> 
        </div>
        <button class="btn-primary" id="login-btn" type="submit"><p class="underline" >Edit Task</p></button>
    </form>
{% endblock %}