<!-- This is the file for the tasks overview. -->
{% extends "template.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <div class="container">
        <div class="container-horizontal space-around"> 
            <h1 class="left-align big-font">Current Tasks:</h1>
            <a href="/tasks/add" class="btn-primary"><p class="underline" >Add New Task</p></a>
        </div>
       
        {% for task in tasks %}
            <!-- There are the following fields in every task that are helpful: name and due date -->
            <form method="GET" action="/tasks/edit" style="width: 100%" id="{{task.id}}">
                <div class="entry3 entry" onClick="document.getElementById('{{task.id}}').submit();">
                    <div class="align-content-left">
                        <p class="underline">{{task.name}}</p>
                    </div>
                    <!-- Currently it is possible that there is no due date -->
                    <div>   
                        <p class="underline">Due: {{task.due}}</p>
                    </div>
                   
                    <div class="container-horizontal align-content-right">
                        
                        <form method="GET" action="/tasks/edit">
                            <input type="hidden" value={{task.id}} name="id">
                            <button class="btn-text margin-lr underline" type="submit">Edit</button>
                        </form>
                        <form method="POST" action="/tasks">
                            <input type="hidden" value={{task.id}} name="id">
                            <button class="btn-text margin-lr check" type="submit">✓</button>
                        </form>
                    </div>
                </div>
            </form>
        {% endfor %}
    </div>
    
{% endblock %}