<!-- This is the file for the tasks overview. -->
{% extends "template.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    Screen for Tasks Overview
    {% for task in tasks %}
        <div style="border: 5px solid black;">
            <h1>{{task.description}}</h1>
            <p>{{task.due}}</p>
            <form method="POST" action="/tasks">
                <input type="hidden" value={{task.id}} name="id">
                <button type="submit">Erledigt</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}