<!-- This is the file for the tasks overview. -->
{% extends "template.html" %}

{% block title %}
    Tasks
{% endblock %}

{% block main %}
    <div class="container">
        <div class="container-horizontal space-around"> 
            <h1 class="left-align big-font">Current Tasks:</h1>
            <a href="/tasks/add" class="btn-primary">Add New Task</a>
        </div>
       
        {% for task in tasks %}
            <!-- There are the following fields in every task that are helpful: name and due date -->
            <div class="entry3">
                <div class="align-content-left">
                    <p>{{task.name}}</p>
                </div>
                <!-- Currently it is possible that there is no due date -->
                <p>Due: {{task.due}}</p>
                <div class="container-horizontal align-content-right">
                    <form method="POST" action="/tasks">
                        <input type="hidden" value={{task.id}} name="id">
                        <button class="btn-text margin-lr" type="submit">Erledigt</button>
                    </form>
                    <form method="GET" action="/tasks/edit">
                        <input type="hidden" value={{task.id}} name="id">
                        <button class="btn-text" type="submit">Edit</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}